<%= form_tag do  %>

  <div class="field">
    <%= label_tag :offer_share_code %><br>
    <%= text_field_tag :offer_share_code %>
  </div>
  <div class="actions">
    <%= submit_tag 'redeem code' %>
  </div>
<% end %>
