<p id="notice"><%= notice %></p>

<p>
  <strong>Offer share:</strong>
  <%= @redemption.offer_share %>
</p>

<%= link_to 'Edit', edit_redemption_path(@redemption) %> |
<%= link_to 'Back', redemptions_path %>
